@import "../../sass/main";

.about-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  padding: 20px;
  overflow-y: auto;
}

.content h2 {
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 20px;
}
